{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block header %}<h1>Details for {{user.fullname}}</h1>{% endblock %}

{% block content %}
    <div>
        <img src={{user.img_url}} alt="">
    </div>
    <div>
        <a href="/users/{{user.id}}/posts/new">Add a Post</a>
        <h2>Posts</h2>
        <ul>
            {% for post in posts%}
                <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a href="/users/{{user.id}}/edit">Edit User</a>
    </div>
    <div>
        <form action="/users/{{user.id}}/delete" method="POST">
        <button>Delete User</button>
        </form>
    </div>
    <div>
        <a href="/users">Back to Users</a>
    </div>
{% endblock %}