{% extends 'base.html' %}

{% block title %}Edit User Form{% endblock %}

{% block header %}<h1>Edit {{user.first_name}} {{user.last_name}} Details</h1>{% endblock %}

{% block content %}
    <form action="/users/{{user.id}}/edit" method="POST">
        <label for="first_name">First Name:
            <input type="text" name="first_name" value="{{user.first_name}}">
        </label>
        <label for="last_name">Last Name:
            <input type="text" name="last_name" value="{{user.last_name}}">
        </label>
        <label for="img_url">Img URL:
            <input type="url" name="img_url" value="{{user.img_url}}">
        </label>
        <button>Submit Changes</button>
    </form>

    <a href="/users/{{user.id}}">Back to Details</a>
    <a href="/">Back to Users</a>
{% endblock %}