{% extends 'base.html' %}

{% block title %}Edit Tag Form{% endblock %}

{% block header %}<h1>Edit Tag Form</h1>{% endblock %}

{% block content %}
<div class="card mx-auto p-3" style="width: 20rem;">
    <form action="/tags/{{tag.id}}/edit" method="POST">
        <div>
            <label class='form-label' for="name">Name:</label>
            <input class='form-control' type="text" name="name" value="{{tag.name}}">
        </div>
        <button class="btn btn-success">Submit Tag Edits</button>
    </form>

    <a class='btn btn-primary' href="/tags/{{tag.id}}">Back to Tag Details</a>
</div>
{% endblock %}