{% extends 'base.html' %}

{% block title %}New User Form{% endblock %}

{% block header %}<h1>New User Form</h1>{% endblock %}

{% block content %}
<div class="card mx-auto p-3" style="width: 20rem;">
    <form action="/users/new" method="POST">
        <div>
            <label class='form-label' for="first_name">First Name:   </label>
            <input class='form-control' type="text" name="first_name" placeholder="Enter First Name">
        </div>
        <div>
            <label class='form-label' for="last_name">Last Name: </label>
            <input class='form-control' type="text" name="last_name" placeholder="Enter Last Name">
        </div>
        <div>
            <label class='form-label' for="img_url">Img URL:</label>
            <input class='form-control' type="url" name="img_url" placeholder="Enter Image URL">
        </div>
        <button class="btn btn-success">Submit New User</button>
    </form>
    <a class="btn btn-primary" href="/users">Back to Users</a>
</div>
{% endblock %}