{% extends 'base.html' %}

{% block title %}New Tag Form{% endblock %}

{% block header %}<h1>New Tag Form</h1>{% endblock %}

{% block content %}
<div class="card mx-auto p-3" style="width: 20rem;">
    <form action="/tags/new" method="POST">
        <div>
            <label class='form-label' for="name">Name:</label>
            <input class='form-control' type="text" name="name" placeholder="Enter Tag Name">
        </div>
        <button class="btn btn-success">Submit New Tag</button>
    </form>

    <a class='btn btn-primary' href="/tags">Back to Tags</a>
</div>
{% endblock %}