{% extends 'base.html' %}

{% block title %}New Post Form{% endblock %}

{% block header %}<h1>Add A Post</h1>{% endblock %}

{% block content %}
    <form action="/users/{{user_id}}/posts/new", method="POST">
        <label for="title">Title:
            <input type="text" name="title">
        </label>
        <label for="content">Content:
            <input type="textarea" name="content">
        </label>
        <button>Add Post</button>
    </form>
    <a href="/users/{{user_id}}">Cancel</a>
{% endblock %}