{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block header %}<h1>Users List</h1>{% endblock %}

{% block content %}
<div class="card mx-auto p-3" style="width: 20rem;">
    <div class="list-group">
        {% for user in users %}
        <a class='list-group-item border-0' href="/users/{{user.id}}">{{user.fullname}}</a>
        {% endfor %}
    </div>

    <a class="btn btn-success" href="/users/new">Add a New User</a>
    <a class='btn btn-primary' href="/">Back to Home</a>
</div>
{% endblock %}